<!DOCTYPE html>
<html>
<head>
    <title>HANGMAN WEB</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>HANGMAN WEB</h1>
    <h2>Le mot à trouver :</h2>
    <p>{{.RandomWord}}</p>
    <p>{{.WordFind}}</p>
    <form action="/" method="post">
        <label for="letter">Lettre :</label>
        <input type="text" id="letter" name="letter" required>
        <input type="submit" value="Envoyer">
    </form>
    <h2>Nombre d'essais restant : <p>{{.Try}}</p></h2>
    <h2>Liste de lettres bonnes :</h2>
    <ul>
        {{range .LettersGood}}
            <li>{{.}}</li>
        {{end}}
    </ul>
    <h2>Liste de lettres mauvaises :</h2>
    <ul>
        {{range .LettersWrong}}
            <li>{{.}}</li>
        {{end}}
    </ul>
    <h2>{{.Status}}</h2>
</body>
</html>
