<!DOCTYPE html>
<html>
<head>
    <title>HANGMAN WEB</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <h1>HANGMAN WEB</h1>
    <h2>Nombre de lettres : {{len .RandomWord}}</h2>
    <p>Le mot à trouver :</p>
    <p>{{.RandomWord}}</p>
    <p>{{.WordFind}}</p>
    <form class="selection-lettres" action="/hangman" method="post">
        <label for="letter">Lettre :</label>
        <input type="text" id="letter" name="letter" required>
    </form>
<div class="boite-parente">
    <div class="boite-texte">
        <p>Liste de lettres bonnes :</p>
        <p>
           {{range .LettersGood}}
             <li class="good">{{.}}</li>
           {{end}}
        </p>
    </div>
    <div class="boite-texte">
        <p>Liste de lettres mauvaises :</p>
        <p>
           {{range .LettersWrong}}
             <li class="wrong">{{.}}</li>
           {{end}}
        </p>
    </div>
</div>  
</body>
</html>
