<!DOCTYPE html>
<html>
    <head>
        <title>Victoire</title>
        <link rel="stylesheet" type="text/css" href="../static/CSS/style.css">
    </head>
    <body>
        <div class="container">
            <!-- NavBar Section -->
            <nav>
                <div class="wrapper">
                <div class="logo"><a href="#">HANGMAN</a></div>
                    <ul class="nav-links">
                        <li><a href="/home">HOME</a></li>
                        <li><a href="/hangman">PLAY</a></li>
                        <li><a href="#popup_rules">RULES</a></li>
                        <li><a href="#popup_contact">CONTACT</a></li>
                    </ul>
                </div>
            </nav>
            <h1>Bravo, tu as trouvé le mot !</h1>
            <div>
                <button class="button" onclick="location.href='/hangman'">Restart</button>
            </div>
        </div>
    </body>
</html>
