/* début CSS de la page */
@font-face {
    font-family: "custom"; /* définition du nom de la police */
    src: url(../FONT/Simply_Rounded.ttf); /* importation de la police */
}

* {
    margin: 0; /* applique 0 marge sur toute la page (margin = marge pour les élements de la page)*/
    padding: 0; /* applique 0 padding sur toute la page (padding = marge autour du texte)*/
    font-family: "custom"; /* applique la pocile custom sur toute la page */
}

.container{
    width: 100%; /* largeur de la page a 100 % de la largeur max*/
    height: 100vh; /* hauter de la page a 100 % de la hauteur max*/
    background-image: linear-gradient(rgba(77, 77, 77, 0.702),rgba(77, 77, 77, 0.702)),url(../IMG/background.jpg); /* applique une image de font + un filtre par dessus pour donner l'effet gris */
    background-position: center; /* positionne le fond au centre de la page */
    background-size: cover; /* met la taille du fond pour qu'il recouvre toute la page */
    padding-left: 8%; /* applique 8% padding a gauche */
    padding-right: 8%; /* applique 8% padding a droite */
    box-sizing: border-box; /* définit la façon dont la hauteur et la largeur totale d'un élément est calculée */
}
/* fin CSS de la page */

/* début CSS de la barre de navigation */
.navbar{
    height: 12%; /* hauteur = 12% du div container */
    display: flex; /* définit le type d'affichage utilisée pour le rendu d'un élément et la disposition utilisée pour ses éléments fils (boite-flexible)*/
    align-items: center; /* aligne les objet au centre du div navbar */
}

.logo{
    width: 50px; /* taille de l'img = 50px */
    cursor: pointer; /* quand le curseur passe sur le div le curseur devient un "pointer" */
    transition: 0.5s; /* transition de l'animation dure 0.5s */
}

.logo:hover{
    transform: scale(1.5); /* quand on passe le curseur sur l'img il grossit de 1.5 fois */
}

.menu-icon{
    width: 40px; /* taille de l'img = 40px */
    cursor: pointer; /* quand le curseur passe sur le div le curseur devient un "pointer" */
    margin-left: 40px; /* applique une marge de 40px a gauche */
    transition: 0.5s; /* transition de l'animation dure 0.5s */
}

.menu-icon:hover{
    transform: scale(1.2); /* quand on passe le curseur sur l'img il grossit de 1.2 fois */
}

nav{
    flex: 1; /* raccourcie qui définit la capacité d'un élément flexible à modifier ses dimensions afin de remplir l'espace disponible de son conteneur. */
    text-align: right; /* aligne le texte a droite du div navbar */
}

nav ul li{
    list-style: none; /* fait que il n'y a pas de décoration sur le coté de la liste de liens */
    display: inline-block; /* définit le type d'affichage utilisée pour le rendu d'un élément et la disposition utilisée pour ses éléments fils (ca les aligne) */
    margin-left: 60px; /* applique une marge de 60px a gauche */
    transition: 0.5s; /* transition de l'animation dure 0.5s */
}

nav ul li a{
    text-decoration: none; /* enleve la décoration du texte */
    color: #fff; /* couleur du texte = blanc */
    font-size: 20px; /* taille du texte = 20px */
}

nav ul li:hover{
    transform: scale(1.2); /* quand on passe le curseur sur l'img il grossit de 1.2 fois */
}
/* fin CSS de la barre de navigation */

/* début CSS dropdown */
.dropdown {  /* le div container - doit positioner le contenu du dropdown */
    position: relative; /* définit la façon dont un élément est positionné dans un document */
    display: inline-block; /* définit le type d'affichage utilisée pour le rendu d'un élément et la disposition utilisée pour ses éléments fils (ca les aligne)*/
}
  
.dropdown-content {  /* Contenu du dropdown (caché par défault) */
    display: none; /* définit le type d'affichage utilisée pour le rendu d'un élément et la disposition utilisée pour ses éléments fils */
    position: absolute; /* définit la façon dont un élément est positionné dans un document */
    background-color: #dbdbdb; /* couleur du fond = gris-clair */
    min-width: 150px; /* definit la largeur min a 150px */
    box-shadow: 0px 8px 16px 0px #00000033; /* ombre de la box = gris-foncé (offset-x | offset-y | blur-radius | color) */
    z-index: 1; /* détermine l'ordre des différentes couches que formeront les éléments */
    border-radius: 20px; /* defini des coins arrondi pour les cards (20px) */
}
  
.dropdown-content a { 
    color: black; /* couleur du texte = noir */
    padding: 12px 16px; /* applique un padding de 12px sur la droite et la gauche et de 16px sur le haut et le bas */
    text-decoration: none; /* enleve la décoration du texte */
    display: block; /* définit le type d'affichage utilisée pour le rendu d'un élément et la disposition utilisée pour ses éléments fils */
    text-align: center; /* alligne le texte au centre */
}
  
.dropdown-content a:hover {  /* Change color of dropdown links on hover */
    background-color: #acacac; /* couleur du fond = gris */
    border-radius: 20px; /* defini des coins arrondi pour les cards (20px) */
}
  
.show {  /* montre le menu du dropdown (utilise JS ajouter cette classe au .dropdown-content container quand l'utilisateur click sur le bouton) */
    display:block;  /* définit le type d'affichage utilisée pour le rendu d'un élément et la disposition utilisée pour ses éléments fils */
} 
/* fin CSS dropdown */


/* début CSS de la mise en page du site (2eme partie de la page)*/
.row{
    height: 88%; /* hauteur = 88% du div container */
    align-items: center; /* aligne les objet au centre du div navbar */
}

.col{
    flex-basis: 50%; /* chaque div col prend 50% de la taille du div row ( col 50% ¦ col 50% )*/
}
/* fin CSS de la mise en page du site (2eme partie de la page)*/


/* début CSS élements du div row */
h1{
    color: #fff; /* couleur du texte = blanc */
    font-size: 150px; /* taille du texte = 150px */
    transition: 1s; /* transition de l'animation dure 1s */
    cursor: default; /* quand le curseur passe sur le div le curseur reste le curseur par défault */
    text-align: center; /* alligne le texte au centre */
}

h1:hover{
    color: #3681ea; /* quand on passe le curseur sur le texte il devient orange */ 
}

p{
    color: #fff; /* couleur du texte = blanc */
    font-size: 25px; /* taille du texte = 25px */
    cursor: default; /* quand le curseur passe sur le div le curseur reste le curseur par défault */
    text-align: center; /* alligne le texte au centre */
}

.card{
    width: 25vw; /* largeur = 25vw du div col (25vw = 25% de la valeur de width)*/
    height: 25vh; /* hauteur = 25vh du div col (25vh = 25% de la valeur de height)*/
    display: inline-block; /* définit le type d'affichage utilisée pour le rendu d'un élément et la disposition utilisée pour ses éléments fils (ca les aligne) */
    border-radius: 100px; /* defini des coins arrondi pour les cards (100px) */
    padding: 30px 25px; /* applique un padding de 30px sur la gauche et la droite et de 25px sur le haut et le bas */
    box-sizing: border-box; /* définit la façon dont la hauteur et la largeur totale d'un élément est calculée */
    cursor: pointer; /* quand le curseur passe sur le div le curseur devient un "pointer" */
    margin: 10px 15px; /* applique une marge de 10px sur la gauche et la droite et de 15px sur le haut et le bas */ 
    background-position: center; /* positionne le fond au centre de la card */
    background-size: cover; /* met la taille du fond pour qu'il recouvre toute la card */
    transition: 0.5s; /* transition de l'animation dure 0.5s */
    margin-top: 10vh; /*applique une marge de 10vh sur le haut des cards */
}

.card:hover{
    transform: translateY(-10px); /* quand on passe le curseur sur la card elle monte de 10px */
}

#entree .card1{
    background-image: url(../IMG/oeufs.jpg); /* importe le fond du la card */
}
#entree .card2{
    background-image: url(../IMG/samousa.jpg); /* importe le fond du la card */
}
#entree .card3{
    background-image: url(../IMG/salade-jap.jpg); /* importe le fond du la card */
}

#plat .card1{
    background-image: url(../IMG/canard.jpg); /* importe le fond du la card */
}
#plat .card2{
    background-image: url(../IMG/burger.jpg); /* importe le fond du la card */
}
#plat .card3{
    background-image: url(../IMG/poulet.jpg); /* importe le fond du la card */
}

#dessert .card1{
    background-image: url(../IMG/macarons.jpg); /* importe le fond du la card */
}
#dessert .card2{
    background-image: url(../IMG/tiramisu.jpg); /* importe le fond du la card */
}
#dessert .card3{
    background-image: url(../IMG/brownie.jpg); /* importe le fond du la card */
}

#apero .card1{
    background-image: url(../IMG/roules-chorizo-et-emmental.jpg); /* importe le fond du la card */
} 
#apero .card2{
    background-image: url(../IMG/knacki.webp); /* importe le fond du la card */
}
#apero .card3{
    background-image: url(../IMG/pates.jpg); /* importe le fond du la card */
}

h5{
    color: #fff; /* couleur du texte = blanc */
    text-shadow: 0 0 5px #999; /* ombre du texte = gris (offset-x | offset-y | blur-radius | color) */
    font-size: 20px; /* taille du texte = 20px */
    text-align: center; /* alligne le texte au centre */
}
/* fin CSS élements du div row */

/* début CSS popup */
.overlay {
    position: fixed; /* définit la façon dont un élément est positionné dans un document */
    top: 0; /* définit une partie de la position des éléments positionnés (0 sur le haut de la page) */
    bottom: 0; /* définit une partie de la position des éléments positionnés (0 sur le bas de la page) */
    left: 0; /* définit une partie de la position des éléments positionnés (0 sur la gauche de la page) */
    right: 0; /* définit une partie de la position des éléments positionnés (0 sur la droite de la page) */
    background: #000000b3; /* couleur du fond = noir */
    transition: opacity 500ms; /* transition de l'animation dure 500ms */
    visibility: hidden; /* cache l'élement overlay */
    opacity: 0; /* définit la transparence d'un élément (0 = invisible) */
}
.overlay:target { /* target = permet de cibler l'unique élément */
    visibility: visible; /* montre l'élement overlay */
    opacity: 1; /* définit la transparence d'un élément (1 = visible a 100%) */
}
  
.popup {
    margin: 70px auto; /* applique une marge de 70px sur la gauche et la droite et se definit automatiquement sur le haut et le bas */ 
    padding: 20px; /* applique un padding de 20px sur tous les cotés */
    background: #fff; /* couleur du fond = blanc */
    border-radius: 5px; /* defini des coins arrondi pour les cards (5px) */
    width: 85%; /* largeur = 85% de la page */
    max-height: 80%; /* hauteur max = 80& de la page*/
    position: relative; /* définit la façon dont un élément est positionné dans un document */
    transition: all 0.5s ease-in-out; /* transition de l'animation dure 0.5s (tout disparait/apparait) */
    overflow: auto ; /* définit comment gérer le dépassement du contenu d'un élément dans son bloc */
    overflow-y: scroll; /* permet de définir les mécanismes à utiliser lorsque le contenu dépasse des bords haut et bas de la boîte (scroll = la barre a droite de l'écran) */
    scroll-behavior: auto; /* définit le comportement du défilement pour une boîte de défilement  */
  }
  
.popup h1 {
    color: #333; /* couleur du texte = gris */
    font-size: 25px; /* taille du texte = 25px */
    text-align: left; /* alligne le texte a gauche */
}

.popup p{
    color: #333; /* couleur du texte = gris */
    text-align: left; /* alligne le texte a gauche */
    font-size: 20px; /* taille du texte = 20px */
}

.popup .close {
    position: absolute; /* définit la façon dont un élément est positionné dans un document */
    top: 20px; /* définit une partie de la position des éléments positionnés (20px sur le haut de la page) */
    right: 30px; /* définit une partie de la position des éléments positionnés (30px sur la droite de la page) */
    transition: all 200ms; /* transition de l'animation dure 200ms */
    font-size: 30px; /* taille de la police = 30px */
    font-weight: bold; /* met le texte en gras */
    text-decoration: none; /* enleve les decoration du texte */
    color: #333; /* couleur du texte = gris */
 }

.popup .close:hover {
    color: #06D85F; /* quand on passe le curseur sur le texte il devient vert */ 
}

.popup .content {
    max-height: 30%; /* hauteur max = 30% de la page */
    overflow: auto; /* définit comment gérer le dépassement du contenu d'un élément dans son bloc */
}

  
@media screen and (max-width: 1000px){
    .popup{
        width: 70%; /* largeur = 70% de la page */
    }
}
/* fin CSS popup */