@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #2e2e2e;
  font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  text-align: center;
  color: #f2f2f2;
}

.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-wrap: wrap; /* Allow wrapping of cards */
  margin: 300px 10%;
}

/* ----navbar section---- */

nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #242526;
  top: 0; /* Add this property to keep the nav at the top */
}

nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 0px 0px 5px #f2f2f2;
  text-decoration: none;
}

.wrapper .logo a:hover{
  color: #3700ff;
  text-shadow: 0px 0px 5px #3700ff;
  transition: 0.5s;
}

.wrapper .nav-links{
  display: inline-flex;
}

.nav-links li{
  list-style: none;
}

.nav-links li a{
  color: #f2f2f2;
  text-shadow: 0px 0px 5px #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-links li a:hover{
  background: #3A3B3C;
}

.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}

.body-text div{
  font-size: 45px;
  font-weight: 600;
}

/* CSS styles */
h1 {
  color: #f2f2f2;
  background: #2e2e2e;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
  font-size: 90px;
  background: #2e2e2e;
}

p {
  font-size: 40px;
}

li.good {
  color: #00ff00;
  font-weight: 700;
  font-size: 40px;
  content: ", ";
  display: inline;
}

li.wrong {
  color: #ff0000;
  font-weight: 700;
  font-size: 40px;
  content: ", ";
  display: inline;
}

.boite-parente {
  display: flex; /* Utilisez un affichage flex pour les aligner horizontalement */
}

.boite-texte {
  list-style: none;
  width: 50%; /* Chaque boîte prend 50% de la largeur de la boîte parente pour les aligner côte à côte */
  padding: 10px;
}

ul {
  list-style: none;
}

.button {
  position: relative;
  width: 240px;
  height: 80px;
  background-color: #242526;
  display: flex;
  align-items: center;
  font-size: larger;
  color: #f2f2f2;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
  
.button::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 250px;
  height: 90px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #00ff75 0%, #3700ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #00ff75 0%, #3700ff 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
  
.button:hover::after {
  filter: blur(30px);
}
  
.button:hover::before {
  transform: rotate(-180deg);
}
  
.button:active::before {
  scale: 0.7;
}
  
.selection-lettres {
  display: flex;
  flex-direction: row; /* Alignement horizontal */
  align-items: center; /* Alignement vertical au centre */
  margin: 0 auto; /* Centre le formulaire horizontalement */
  max-width: 400px; /* Largeur maximale du formulaire (ajustez selon vos besoins) */
}

.selection-lettres{
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}


.selection-lettres input[type="text"] {
  margin: 30px;
  background: none;
  border: none;
  outline: none;
  max-width: 90px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #f2f2f2;
}
